@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    font-family: "Archivo", serif;
}

body {
    background-color: #1C0B2B;
    color: #6F95FF;
}

i {
    color: #C0DFF1;
}

/* Header */

.header {
    width: 100%;
    padding: 0.5rem 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: none;
}

.header h1 {
    font-size: 1rem;
    max-width: 70px;
}

.menu__toggle {
   display: flex;
   justify-content: flex-end;
}

.header #toggleTheme {
    font-size: 1.5rem;
}

/* Menu */

.menu {
    display: flex;
    align-items: center;
    background-color: #110f24;
    border-top: 1px solid #301C4E;
}

.menu--principal {
    gap: 1rem;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
}

.menu--mobile .menu__link {
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text {
    color: #6F95FF;
    font-weight: 600;
}

.menu__item {
    width: 100%;
}

.menu__icon, .menu__text {
    color: #4565C0;
    transition: color .3s ease-in-out, font-weight .3s ease-in-out;
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .header {
        border-bottom: 1px solid #301C4E;
        position: fixed;
        padding: 1rem 4rem;
    }

    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header h1 {
        text-align: center;
    }

    .header__nav,
    .menu__toggle {
        min-width: 33%;
    }

    .menu {
        border: none;
        background-color: inherit;
    }
}

@media screen and (min-width: 1450px) {
    .header {
        padding: 1rem 15rem;
    }
}